:root {
  --bg-light: #F3F3F3;
  --bg-dark: #1A2732;
  --color-black: #111;
  --color-highlight: #e2e2e2;
  --space: 20px;
}

body {
  opacity: 0;
  transition: 0.5s ease-in opacity;
}

body[loaded] {
  opacity: 1;
}

/* Resets */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, 
small, strong, ol, ul, li, article, footer, header, nav {
  font-family: 'Noto Serif', serif;
  color: var(--color-black);
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  background: var(--bg-light);
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* App */

/* Layout */
body > header {
  display: grid;
  padding: var(--space);
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid #C4C4C4;
  align-items: center;
}

main {
  display: grid;
  padding: var(--space);
  gap: var(--space);
}

body > header button,
body > header a.button {
  margin-bottom: var(--space);
}

body {
  display: grid;
  margin: var(--space);
  padding: var(--space);
  gap: var(--space);
  background: #fff;
}

h1 {
  font-size: 37px;
  margin-bottom: var(--space);
}

h2 {
  font-size: 30px;
  margin-bottom: calc(var(--space) / 2);
}

h3 {
  font-size: 27px;
  margin-bottom: calc(var(--space) / 3);
  text-transform: capitalize;
}

h4 {
  font-size: 17px;
  margin-bottom: calc(var(--space) / 4);
  text-transform: capitalize;
}

h2 { text-transform: uppercase; }

body > header h3 {
  text-transform: capitalize;
}

body > header h3 a:not(:last-of-type) {
  text-transform: lowercase;
}

small {
  font-size: 70%;
}

p, li {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 27px;
}

ul {
  list-style: disc;
  margin-left: var(--space);
}

button, a.button {
  cursor: pointer;
  background: #FB6815;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 0;
  padding: var(--space);
  font-size: 17px;
}

a.button {
  text-decoration: none;
  box-sizing: border-box;
}

button span,
a.button span {
  color: #fff;
}

.highlighted-box {
  background: var(--color-highlight);
  padding: var(--space);
}

section {
  margin-bottom: var(--space);
}

.mode-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mode-switch span {
  cursor: pointer;
}

.mode-switch span:first-of-type {
  margin-right: 10px;
}

/* @media (prefers-color-scheme: dark) {
  html, body, div, span, h1, h2, h3, 
  h4, h5, h6, p, a, small, strong,
  ol, ul, li, article, footer, header, nav {
    color: #fff;
  }
  
  html, body {
    background: var(--bg-dark);
  }

  .highlighted-box {
    background: var(--color-black);
  }
} */

/* Dark for color switch */
  [dark] html, [dark] body, [dark] div, [dark] span, [dark] h1, [dark] h2, [dark] h3, 
  [dark] h4, [dark] h5, [dark] h6, [dark] p, [dark] a, [dark] small, [dark] strong,
  [dark] ol, [dark] ul, [dark] li, [dark] article, [dark] footer, [dark] header, [dark] nav {
    color: #fff;
  }
  
  [dark], [dark] body {
    background: var(--bg-dark);
  }

  [dark] .highlighted-box {
    background: var(--color-black);
  }

@media print {
  section, ul {
    break-inside: avoid;
  }
  
  button, a.button, .mode-switch {
    display: none;
  }

  .highlighted-box {
    background: transparent;
    padding: 0;
  }

  main::after {
    content: "Check https://in1t.com for the most recent version of my resume";
  }
}


@media screen and (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
  }
  body > header {
    grid-template-columns: 1fr;
    gap: var(--space);
  }
  
  body > header div:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space);
  }

  h1 { font-size: 27px; }

  h2 { font-size: 22px; }

  h3 { font-size: 21px; }

  h4 { font-size: 17px; }

  button, a.button {
    max-height: 47px;
    justify-content: start;
  }

  button span, a.button span { margin-right: 7px; }

  
}