:root {
  --bg-light:#F3F3F3;
  --bg-dark:#141323;
  --color-black:#111;
  --color-highlight:#e2e2e2;
  --color-purple:#a1334f;
  --space:20px;
  --color--light-red:#d73a49;
  --color--light-blue:#005cc5;
}

/* Resets */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, small, strong, ol, ul, li, article, footer, header, nav {
  font-family: 'Courier Prime', monospace;
  color: var(--color-black);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  background: var(--bg-light);
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* App */

body {
  opacity: 0;
  transition: 0.5s ease-in opacity;

  &[loaded] {
    opacity: 1;
  }

  > header {
    display: grid;
    padding: var(--space);
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid #C4C4C4;
    align-items: start;
  }
}

/* Layout */

main {
  display: grid;
  padding: var(--space);
  gap: var(--space);
}

body {
  display: grid;
  margin: var(--space) auto;
  max-width: 1250px;
  padding: var(--space);
  gap: var(--space);
  background: #fff;
}

h1 {
  font-size: 37px;
  margin-bottom: var(--space);
}

h2 {
  font-size: 30px;
  margin-bottom: calc(var(--space) / 2);
}

h3 {
  font-size: 27px;
  margin-bottom: calc(var(--space) / 3);
  text-transform: capitalize;
}

h4 {
  font-size: 17px;
  margin-bottom: calc(var(--space) / 4);
  text-transform: capitalize;
}

h2 {
  text-transform: uppercase;
}

body > header h3 {
  text-transform: capitalize;

  a:not(:last-of-type) {
    text-transform: lowercase;
  }
}

small {
  font-size: 70%;
}

p, li {
  font-size: 17px;
  line-height: 27px;
}

ul {
  list-style: disc;
  margin-left: var(--space);
}

.buttons {
  display: grid;
  gap: calc(var(--space) / 2);
}

button, a.button {
  cursor: pointer;
  background: transparent;
  color: green;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: calc(var(--space) / 2);
  font-size: 17px;
}

button:hover {
  background: green;
  color: white;
}

a.button {
  &:hover {
    background: green;
    color: white;
  }

  text-decoration: none;
  box-sizing: border-box;
}

button span, a.button span {
  color: green;
}

button:hover span, a.button:hover span {
  color: white;
}

.highlighted-box {
  background: var(--color-highlight);
  padding: var(--space);
}

section {
  margin-bottom: var(--space);
}

.mode-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    cursor: pointer;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

.current-job {
  border-left: 3px solid green;
  padding-left: var(--space);
}

.previews {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));

  /* grid-template-rows: repeat(auto-fit, minmax(150px, 300px)); */
  gap: var(--space);
  margin: var(--space) 0;

  a {
    padding: var(--space);
    border-radius: 7px;
    height: 150px;
    border: 3px solid transparent;

    &:hover {
      border: 3px solid #fb6815;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  html, body, div, span, h1, h2, h3, 
  h4, h5, h6, p, a, small, strong,
  ol, ul, li, article, footer, header, nav {
    color: #fff;
  }
  
  html, body {
    background: var(--bg-dark);
  }

  .highlighted-box {
    background: var(--color-black);
  }
} */

/* Dark for color switch */

[dark] {
  html, body, div, h1, h2, h3, h4, h5, h6, p, a, small, strong, ol, ul, li, article, footer, header, nav {
    color: #fff;
  }

  background: var(--bg-dark);

  body {
    background: var(--bg-dark);
  }

  .highlighted-box {
    background: var(--color-black);
  }

  button, a.button {
    border-color: var(--color-purple);
    color: var(--color-purple);
  }

  button span, a.button span {
    color: var(--color-purple);
  }

  button:hover, a.button:hover {
    background: var(--color-purple);
    color: white;
  }

  button:hover span, a.button:hover span {
    color: white;
  }

  .mode-switch span {
    color: #fff;
  }
}

@media print {
  section, ul {
    break-inside: avoid;
  }

  button, a.button, .mode-switch {
    display: none;
  }

  .highlighted-box {
    background: transparent;
    padding: 0;
  }

  main::after {
    content: "Check https://in1t.com for the most recent version of my resume";
  }
}

@media screen and (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;

    > header {
      grid-template-columns: 1fr;
      gap: var(--space);

      div:last-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space);
      }
    }
  }

  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 13px;
  }

  button, a.button {
    max-height: 47px;
    justify-content: start;
    font-size: 16px;
  }

  button span, a.button span {
    margin-right: 7px;
  }

  p, li {
    font-size: 15px;
  }
}