---
title: Islam Magdy - Senior Full Stack Developer
date: git Last Modified
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{ title }}</title>
    <meta name="description" content="Hi, this is Islam Magdy's resume, a senior full stack javascript developer with near 10 years experience"/>

    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="https://in1t.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Hi, this is Islam Magdy's resume, a senior full stack javascript developer with near 10 years experience"/>
    <meta property="og:image" content="http://in1t.com/images/icons/android-chrome-512x512.png"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="Hi, this is Islam Magdy's resume, a senior full stack javascript developer with near 10 years experience"/>
    <meta name="twitter:url" content="https://in1t.com"/>
    <meta name="twitter:image" content="http://in1t.com/images/icons/android-chrome-512x512.png"/>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/images/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/images/icons/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="Islam Magdy Full Stack"/>
    <meta name="msapplication-TileColor" content="#1A2732"/>
    <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/images/icons/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/images/icons/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/images/icons/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/images/icons/mstile-310x310.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="/in1t.css">

    <script type="application/ld+json">
    [
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://in1t.com",
        "logo": "http://in1t.com/images/icons/android-chrome-512x512.png"
    },
    {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "{{ title }}",
        "operatingSystem": "WEB",
        "applicationCategory": "DeveloperApplication",
        "offers": {
            "@type": "Offer",
            "price": "0",
            "priceCurrency": "USD"
        }
    },
    {
        "@context": "https://schema.org/",
        "@type": "WebPage",
        "name": "{{ title }}",
        "speakable":
        {
            "@type": "SpeakableSpecification",
            "xpath": [
            "/html/head/title",
            "/html/head/meta[@name='description']/@content"
            ]
        },
        "url": "https://in1t.com"
    }
    ]
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44383953-6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-44383953-6');
    </script>

</head>

<body>

    <header>
        <div>
            <h1>Islam Magdy Mahmoud</h1>
            <h3>

                        Senior Full Stack Developer
                <br/>
                <small>
                    <a href="mailto:i.magdy.m@gmail.com">i.magdy.m@gmail.com</a>
                     - 
                              
                    <a href="tel:+31658715620">(+31) 658 715 620</a>
                     - 
                              
                    <a href="http://linkedin.com/in/imagdy">LinkedIn</a>
                </small>
            </h3>

        </div>
        <div class="buttons">
            <button onclick="document.getElementById('resume-pdf').contentWindow.print();">
                <span class="material-icons-outlined">print</span>
                 Print
                      
            </button>

            <a class="button" download="Islam-Magdy-Resume" href="/Islam-Magdy-Resume.pdf">
                <span class="material-icons-outlined">download</span>
                 Download PDF
                      
            </a>

            <a class="button" href="https://devspedia.com/">
                <span class="material-icons-outlined">code</span>
                 Devspedia
                      
            </a>

        </div>
    </header>

    <main>
      <div class="mode-switch">
        <span onclick="window.document.querySelector('html').setAttribute('dark', '');" class="material-icons-outlined" title="Switch to dark theme">dark_mode</span>
        <span onclick="window.document.querySelector('html').removeAttribute('dark');" class="material-icons-outlined" title="Switch to light theme">light_mode</span>
      </div>
      {{ content | safe }}
      <iframe loading="lazy" src="/Islam-Magdy-Resume.pdf" style="display: none;" id="resume-pdf"></iframe>
    </main>

    <footer>
        {# Last updated: {{ page.date.toUTCString() }} #}
    </footer>

    <script>
    window.addEventListener('load', () => {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            window.document.querySelector('html').setAttribute('dark', '');
        }

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/worker.js');
        }
    });
    </script>
</body>

</html>
