---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Islam Magdy - Senior Full Stack Developer">
	<main>
    <div class="mode-switch">
      <span onclick="window.document.querySelector('html').setAttribute('dark', '');" class="material-icons-outlined" title="Switch to dark theme">dark_mode</span>
      <span onclick="window.document.querySelector('html').removeAttribute('dark');" class="material-icons-outlined" title="Switch to light theme">light_mode</span>
    </div>

    <section class="highlighted-box">
      <h2>Profile</h2>
      <ul>
        <li>
          Experienced JavaScript-based full-stack software developer with long professional experience in front-end (developing
          frontends from 2011 to 2016).
        </li>
        <li>
          Skilled in apps development utilizing technologies including Node, PostgreSQL, Mongo, GraphQL, React React Native, Vue,
          &amp; Lit.
        </li>
        <li>
          Highly skilled with frameworks including Express, Svelte, Nest &amp; Nuxt.
        </li>
        <li>
          Experienced in building native serverless apps or by using Serverless framework to on different cloud providers such as
          AWS and GCP.
        </li>
        <li>
          Strong architecture experience designing and scaling distributed systems using message/event-driven micro-services, or
          serverless or monolithic or even a combination of all (depending on the system being built or if in production already).
        </li>
        <li>
          Very much welling and open to learning new technologies and techniques.
        </li>
        <li>
          Production experience with:
          <ul>
            <li>
              AWS's products including CloudFront, Route53, ECS, S3, RDS, EC2, Chatbot, ECR, SNS, SQS, CloudWatch, CodeBuild &amp;
              CodePipeline.
            </li>
            <li>
              GCP’s products including Cloud Run, Cloud Build, Cloud DNS, Container Registry &amp; Cloud Functions.
            </li>
            <li>
              Firebase, building e-commerce front and back ends using technologies like Firestore, Firebase Auth, Firebase Hosting
              (with Cloud Run).
            </li>
            <li>
              integrating third party technologies such as Elastic Search &amp; Algolia for adding search capabilities, Stripe &amp; Braintree
              for payments.
            </li>
          </ul>
        </li>
        <li>
          Strong advocate for Unit, Integration (various tech.), &amp; End-to-End testing (Puppeteer or PlayWright), in addition to
          building CI/CD automation pipelines in AWS, GCP and CircleCI.
        </li>
        <li>
          Production experience working on enterprise e-commerce systems on both front and back ends.
        </li>
        <li>
          Experience working with legacy systems.
        </li>
      </ul>
    </section>

    <h2>Experience</h2>

    <section class="current-job">
      <article>
        <header>
          <h4>Dec-2021 to present — Rotterdam, The Netherlands</h4>
          <h3>NN Group — Senior Software Engineer</h3>
        </header>
        
        <p>
          I've moved to the Netherlands to join Nationale Nederlanden's innovation team. I'm working as a senior full stack
          developer, helping my company innovate smart, time-saving apps and tools to boost experiences for our customers,
          employees, and even third parties that are integrating with our solutions.
        </p>

        <div class="previews">
          <a target="_blank" href="https://www.nn.nl/" style="background: #fff center / contain no-repeat url(/images/nn.png); background-size: 70%;"></a>
        </div>
      </article>
    </section>

    <section>
      <article>
        <header>
          <h4>May-2018 to Jun-2021 — Istanbul, Turkey | Dubai, UAE | Cairo, Egypt</h4>
          <h3>VNGRS — Senior Full Stack Engineer</h3>
        </header>
        
        <ul>
          <li>
            At VNGRS (based in Istanbul), I’m gaining great experience by working with teams &amp; clients from a variety of
            nationalities! I’ve worked with Dubai based clients (Al-Tayer &amp; Majid Al Futtaim) and USA based (WhatsNeu).
          </li>
          <li>
            I've worked on Al-Tayer e-commerce products such as Ounass, Nisnass, GAP, &amp; Mamas and Papas, I was working with a large
            team on both front and backends of the web apps, adding new features, and fixing bugs on both front and back ends.
          </li>
          <li>
            Also had a great experience working on consumer facing Mall mobile apps for some of the world's most popular malls such
            as Mall of Emirates, Mall of Egypt, and all City Centres apps. I was working on the backend APIs with only 1 developer
            we've created the entire mobile backend serverless APIs from scratch.
          </li>
          <li>
            I’m currently rebuilding WhatsNeu from scratch outside of Shopify (everything, storefront, admin, ...etc).
          </li>
          <li>
            I’ve gained a lot of remote work experience by working over 3 years remotely in this position.
          </li>
        </ul>

        <div class="previews">
          <a target="_blank" href="https://www.altayer.com/" style="background: #fff center / contain no-repeat url(/images/al-tayer.jpg); background-size: 70%;"></a>
          <a target="_blank" href="https://www.majidalfuttaim.com/" style="background: #111 center / contain no-repeat url(/images/maf.png); background-size: 90%;"></a>
          <a target="_blank" href="https://apps.apple.com/ae/app/mall-of-the-emirates-moe/id1449578693" style="background: #f8f8f8 center / contain no-repeat url(/images/moe.png); background-size: 150%;"></a>
          <a target="_blank" href="https://www.ounass.ae/" style="background: #fff center / contain no-repeat url(/images/ounass.svg); background-size: 70%;"></a>
          <a target="_blank" href="https://www.mamasandpapas.ae/" style="background: #fff center / contain no-repeat url(/images/mamas.svg); background-size: 90%;"></a>
          <a target="_blank" href="https://www.gap.ae/" style="background: #fff center / contain no-repeat url(/images/gap.svg); background-size: 60%;"></a>
          <a target="_blank" href="https://apps.apple.com/eg/app/mall-of-egypt-official-app/id1441905105" style="background: #f8f8f8 center / contain no-repeat url(/images/moeg.png); background-size: 150%;"></a>
          <a target="_blank" href="https://apps.apple.com/ae/app/city-centres/id1448471823" style="background: #f8f8f8 center / contain no-repeat url(/images/cc.png); background-size: 150%;"></a>
          <a target="_blank" href="https://whatsneu.gg/" style="background: #fff center / contain no-repeat url(/images/neu.png); background-size: 90%;"></a>
          <iframe loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/GQiEO6Cu8A0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          <iframe loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/Sde1Kdy7NYo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>Feb-2017 to Apr-2018 — Egypt</h4>
          <h3>Sheenvalue — Technical Lead</h3>
        </header>
        
        <ul>
          <li>
            Provide technical leadership to teammates through coaching and mentorship.
          </li>
          <li>
            Manage a software engineering team that builds, designs, implements and maintains front-ends and back-ends for
            Sheenvalue's products and services.
          </li>
          <li>
            Influence and establish best engineering practices through solid design decisions, processes and tools.
          </li>
          <li>
            Build educational apps for Curriculum and Student Management for K-12.
          </li>
          <li>
            Had production experience building StoryFile mobile app using React Native.
          </li>
          <li>
            Collaborate with other software engineers, business analysts and software architects to plan, design, develop, test, and
            maintain web, desktop, and mobile-based applications.
          </li>
          <li>
            Assist in the collection of requirements, development of user stories, estimates and work plans.
          </li>
          <li>
            Adhere to established engineering standards while delivering solutions on-time and on-budget.
          </li>
        </ul>
        <div class="previews">
          <a target="_blank" href="https://storyfile.com/" style="background: #fff center / contain no-repeat url(/images/storyfile.png); background-size: 90%;"></a>
          <a target="_blank" href="https://www.facebook.com/Trilliumpreschool/" style="background: #ff5a60 center / contain no-repeat url(/images/trillium.png); background-size: 60%;"></a>
          <a target="_blank" href="http://sis.trilliumpreschool.com" style="background: #fff center / contain no-repeat url(/images/kernel.png); background-size: 40%;"></a>
          <!-- <iframe loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/rskaRj-BokA" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <iframe loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/2K9J6q5DqRc" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> -->
        </div>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>feb-2016 to feb-2018 — egypt</h4>
          <h3>Hataxi — co-founder &amp; technical lead</h3>
        </header>
        
        <ul>
          <li>Built it from scratch the system backend and admin console for Hataxi mobile app.</li>
          <li>Made multiple successful releases supporting thousands of users, and millions of API hits daily.</li>
          <li>Technology stack based on Node, Meteor and Mongo.</li>
          <li>Had a chance to get in-depth experience with Mongo geospatial queries to manage locations tracking, finding nearby drivers,.. etc.</li>
          <li>Cooperate on the business requirements, and side of the app.</li>
        </ul>
        <div class="previews">
          <a target="_blank" href="https://www.facebook.com/hataxiApp/" style="background: #fff center / contain no-repeat url(/images/hataxi.jpg); background-size: 40%;"></a>
        </div>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>aug-2015 to jan-2017 — USA</h4>
          <h3>SkyKode — technical lead</h3>
        </header>
        
        <ul>
          <li>Skykode is a U.S.A. based company, operating from Boulder, Colorado, and running development with remote team in Madinaty, Cairo. My work with was 90% remote from home, with some days from office for team gatherings.</li>
          <li>I’ve focused on company’s primary product “KodingLab", targeting computer science colleges, and community colleges.</li>
          <li>My role was engineering leadership. I manage Software Engineering team, and direct collaborative efforts to meet companies goals in growth and success.</li>
          <li>I’ve brought modern technologies and delivered knowledge to the team members, help everyone develop their skills, write better code, and participate effectively in engineering discussions.</li>
          <li>KodingLab is an educational SaaS, I’ve started building it from day one, ground up, and have put the foundation for all system components.</li>
        </ul>

        <div class="previews">
          <a target="_blank" href="https://www.linkedin.com/company/skykode/about/" style="background: #fff center / contain no-repeat url(/images/sk.png); background-size: 70%;"></a>
        <iframe loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/VCcbzBHKmME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <iframe loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/fAhyWUMYIos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>2016 to 2016 (1-2 months) — egypt</h4>
          <h3>el-menus — sr. front-end engineer</h3>
        </header>
        
        <ul>
          <li>Moonlighting with El-Menus, a very popular online service in Egypt for checking restaurants and menus.</li>
          <li>Built the search module ground up, using AngularJS.</li>
        </ul>

        <div class="previews">
          <a target="_blank" href="https://www.elmenus.com/" style="background: #fc4414 center / contain no-repeat url(/images/menus.png); background-size: 90%;"></a>
        </div>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>may-2014 to aug-2015 — egypt</h4>
          <h3>Mostaqqel — sr. front-end engineer</h3>
        </header>
        
        <ul>
          <li>Mostaqqel was a new experience, working on a company-owned product, rather than clients’. Now I have more chances to show my full potential in front end development.</li>
          <li>Used modern technologies like Web Components, and web sockets.</li>
          <li>Mostaqqel is Egypt's first Freelancing Platform, I'm responsible for leading the front end development on Mostaqqel, fine tuning the UI interactions, behaviours, and the user experience through cutting end techniques and technologies. Mostaqqel have recently transformed to Worcbox.</li>
        </ul>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>jul-2011 to may-2014 — egypt</h4>
          <h3>Nilecode — sr. front-end engineer</h3>
        </header>
        
        <ul>
          <li>Joined front-end team, coming from a full-time freelancing background.</li>
          <li>Responsible for crafting user experience on the websites we create. Most of times I build the project ground up, other times I join in the middle of a running project and help get it delivered.</li>
          <li>I'm also responsible for creating user experiences for the web and mobile apps we create, I've mastered JavaScript during this time, and was able to create real-time high performance apps and building user friendly interactions.</li>
          <li>Nilecode is now IntDev.</li>
        </ul>
      </article>
    </section>
    
    <section>
      <article>
        <header>
          <h4>2008 to jul-2011</h4>
          <h3>self — freelancer front-end engineer</h3>
        </header>
        
        <ul>
          <li>Working as a freelancer for clients from Egypt, KSA &amp; USA.</li>
          <li>Worked on small to medium size projects, like BundleHunt, and KodingLab.</li>
          <li>Many other personal experiments.</li>
        </ul>
      </article>
    </section>
  
    
    <section>
      <h2>Projects</h2>
      <p>
        I’ve worked on many projects, can be found, along with more info on my LinkedIn profile: <a href="https://www.linkedin.com/in/imagdy/">https://www.linkedin.com/in/imagdy/</a>
      </p>
    </section>

    <iframe loading="lazy" src="/Islam-Magdy-Resume.pdf" style="display: none;" id="resume-pdf"></iframe>

  </main>
</Layout>